<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InstaSnack</title>
</head>
<body>
    <h1>InstaSnack</h1>
    <ul>
        <li><a href="{% url 'Item:showfoods' %}">Food</a></li><br>
        <li><a href="{% url 'Item:showbeverages' %}">Beverages</a></li><br>
        <li><a href="{% url 'Item:showsnacks' %}">Snacks</a></li><br>
        <li><a href="{% url 'Shop:showshops' %}">Shops</a></li>
    </ul>
</body>
</html>
